.react-chessboard {
    display: flex;
    
    align-self: center;
    @media only screen and (max-width: 800px) {
        justify-content: center;
        flex-direction: column;
      }

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 20px;
        
    }

    .game-area  {
        display: flex;
        flex-direction: column;
    }
}
